@media (max-width: 480px) {
    .firstContainer {
        height: auto;
        padding: 10px;
    }

    .firstContainer h1 {
        font-size: 24px;
        margin: 10px;
        padding: 10px;
    }

    .firstContainer p {
        font-size: 14px;
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    .firstContainer a {
        width: 100%;
        margin-left: 0;
    }

    #Title {
        font-size: 30px;
    }

    .storeContainer {
        flex-direction: column;
        height: auto;
    }

    .storeContainer div {
        width: 90%;
        margin: 10px;
    }

    .storeContainer div img {
        width: 100%;
        height: auto;
    }

    .aboutOurShop {
        flex-direction: column;
        height: auto;
    }

    .firstSide {
        width: 100%;
    }

    .secondside {
        width: 100%;
    }

    #comments {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .comment {
        width: 100%;
        margin-bottom: 10px;
    }

    .commentContent img {
        width: 50px;
        height: 50px;
    }
}