body{

    margin: 0px;
    padding: 0px;
    background-color:cornsilk
}
.nav a:link{
    text-align-last: center;
    color: #000000;
    border:2px solid #007241;
    background-color: cornsilk;
    text-decoration: none;
    width: 100%;
    margin :10px;
    padding: 10px;
}
nav{
    border: 1px solid #00ff91;
    display: flex;
    justify-content: space-around;
    background-color:  #00ff91;
    padding: 0px;
    margin : 0px;
    border : 0px;

}