@media (max-width: 480px) {
    .products div {
        flex-direction: column;
        align-items: center;
    }

    .Product {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mainproduct img {
        width: 100%;
        margin: 0 auto;
    }

    img {
        width: 100%;
        margin: 0 auto;
    }

    .Button,
    .SecondaryButton {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .productTitle {
        font-size: 1rem;
    }

    .productDiscription {
        font-size: 0.8rem;
    }
}