@media (max-width: 480px) {
    .products {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 10px;
    }

    .product,
    .mainproduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 15px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .product img,
    .mainproduct img {
        width: 90%;
        height: auto;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .productTitle {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        text-align: center;
    }

    .productDiscription {
        font-size: 0.8rem;
        text-align: center;
        color: #666;
    }

    .Button,
    .SecondaryButton,
    .mainproductButton,
    .mainproductSecondaryButton {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}